# This file specifies files that are *not* uploaded to Google Cloud
# using gcloud. It follows the same syntax as .gitignore, with the addition of
# "#!include" directives (which insert the entries of the given .gitignore-style
# file at that point).
#
# For more information, run:
#   $ gcloud topic gcloudignore
#
.git
.gitignore

# Node.js dependencies:
node_modules/
bgr4-front/node_modules/
bgr4-api/node_modules/

# Ruby/Rails specific
bgr4-api/tmp/
bgr4-api/log/ 